__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Entornos virtuales
.venv/
venv/
env/

# IDEs comunes
.idea/
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales / Logs
*.log
*.tmp
*~

# GitHub Actions
.github/workflows/*.log

# Tests / cobertura
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# Empaquetado
dist/
build/
*.egg-info/

